<h1 class="text-center mt-3">Search Results</h1>

<% @results.each do |item| %>
  <div>
    <h3><%= link_to item.id, item_path(item) %></h3>
    <p>Tags: <%= item.tag %></p>
    <ul>
      <% item.custom_field_values.each do |field, value| %>
        <li><strong><%= field.humanize %>:</strong> <%= value %></li>
      <% end %>
    </ul>
  </div>
<% end %>
