<div id="<%= dom_id user_collection %>">
  <p>
    <strong>User:</strong>
    <%= user_collection.user_id %>
  </p>

  <p>
    <strong>Collection:</strong>
    <%= user_collection.collection_id %>
  </p>

</div>
