<h1>Editing user collection</h1>

<%= render "form", user_collection: @user_collection %>

<br>

<div>
  <%= link_to "Show this user collection", @user_collection %> |
  <%= link_to "Back to user collections", user_collections_path %>
</div>
